/* Filters */
.filter-category {
  position: relative;
  border-bottom: 1px solid;
  border-color: var(--dark-light);
  color: var(--dark-light);
  font-weight: 500;
  font-size: var(--text-xs);
}
.filter-category-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: var(--space-sm) 0;
}
.filter-category-title:hover {
  color: var(--light-color);
}

.filter-category-container {
  position: relative;
  height: 0px;
  overflow: hidden;
}
.filter-item {
  padding: var(--space-xs) 0;
  cursor: pointer;
}
.filter-item:hover {
  color: var(--light-color);
}

.filter-item.selected  {
  color: var(--light-color);
}

.filter-category-open .filter-category-container {
  height: auto;
}

.filters-container {
  position: sticky;
  top: 96.5px;
  max-height: calc(100vh - 96.5px);
  overflow-y: auto;
  display: flex;
  flex: 0 0 25%;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-xxxs);
}

.filters-container::-webkit-scrollbar {
  width: 3px;
  margin-left: 5px;
}